/*注释字体*/
.note {
    font-size: 7px;
    color: #ACACAC;
    font-style: italic;
}
/*标题*/
.title {
    font-weight: bold;
    text-align: center;
}
.warning {
    font-size: 20px;
    color: red;
    font-weight: bold;
}
